<footer class="footer">

   <div class="container">
      <div class="posted__blocks">
         <div class="subscribe">
            <h3 class="subscribe__title">Stay posted</h3>
            <p class="subscribe__text">Let's be friends. Subscribe to our newsletter to receive updates on new launches,
               recipes, playlists, and more.</p>
            <form class="subscribe__form">
               <input class="subscribe__input" type="email" placeholder="your email address">
               <button class="subscribe__btn" type="submit" value="submit">submit</button>
            </form>
         </div>

         <div class="footer__info">
            <div class="footer__info-explore">
               <p class="footer__info-explore__title">Explore</p>
               <ul class="footer__info-explore__list">
                  <li class="footer__info-explore__item">
                     <a class="footer__info-explore__link" href="#">Home</a>
                  </li>
                  <li class="footer__info-explore__item">
                     <a class="footer__info-explore__link" href="#">Shop</a>
                  </li>
                  <li class="footer__info-explore__item">
                     <a class="footer__info-explore__link" href="#">Membership</a>
                  </li>
                  <li class="footer__info-explore__item">
                     <a class="footer__info-explore__link" href="#">Our Story</a>
                  </li>
                  <li class="footer__info-explore__item">
                     <a class="footer__info-explore__link" href="#">FAQ</a>
                  </li>
                  <li class="footer__info-explore__item">
                     <a class="footer__info-explore__link" href="#">Refer a Friend</a>
                  </li>
                  <li class="footer__info-explore__item">
                     <a class="footer__info-explore__link" href="#">Corporate Gifting</a>
                  </li>
                  <li class="footer__info-explore__item">
                     <a class="footer__info-explore__link" href="#">Gift Card</a>
                  </li>
               </ul>
            </div>
            <div class="footer__info-follow">
               <p class="footer__info-follow__title">Follow</p>
               <ul class="footer__info-follow__list">
                  <li class="footer__info-follow__item">
                     <a href="#" class="footer__info-follow__link">Instagram</a>
                  </li>
                  <li class="footer__info-follow__item">
                     <a href="#" class="footer__info-follow__link">Spotify</a>
                  </li>
                  <li class="footer__info-follow__item">
                     <a href="#" class="footer__info-follow__link">Twitter</a>
                  </li>
                  <li class="footer__info-follow__item">
                     <a href="#" class="footer__info-follow__link">Facebook</a>
                  </li>
               </ul>
            </div>
            <div class="footer__info-email">
               <p class="footer__info-title">Drop Us a Line</p>
               <ul class="footer__info-list">
                  <li class="footer__info-item">
                     <a href="mailto:hello@drink.haus" class="footer__info-link">hello@drink.haus</a>
                  </li>
                  <li class="footer__info-item">
                     <a href="mailto:ress@drink.haus" class="footer__info-link">press@drink.haus</a>
                  </li>
                  <li class="footer__info-item">
                     <a href="mailto:partnerships@drink.haus" class="footer__info-link">partnerships@drink.haus</a>
                  </li>
                  <li class="footer__info-item">
                     <a href="mailto:jobs@drink.haus" class="footer__info-link">jobs@drink.haus</a>
                  </li>
                  <li class="footer__info-item">
                     <a href="mailto:holesale@drink.haus" class="footer__info-link">wholesale@drink.haus</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>

      <div class="footer__haus">
         <span class="footer__haus-text">© Haus 2021</span>
         <a href="#" class="haus__link">Contact Us</a>
         <a href="#" class="haus__link">Return Policy</a>
         <a href="#" class="haus__link">Privacy Policy</a>
         <a href="#" class="haus__link">Terms & Conditions</a>
      </div>

   </div>
</footer>
</div>
<script src="/app/js/main.js">
</script>
</body>

</html>