<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Haus</title>
</head>

<body>

  <div class="wrapper">
    <div class="promo">
      <div class="container">
        <p class="promo__text">Free
          <a class="promo__link" href="#">shipping</a> on orders over 50%
        </p>
      </div>
    </div>
    <header class="header">
      <div class="top__bg">

        <div class="container">
          <div class="position">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="#" class="menu__link">shop</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link">membership</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link">our story</a>
                </li>

                <a class="logo" href="#">
                  <img src="images/logo.svg" alt="logo">
                </a>

                <li class="menu__item">
                  <a href="#" class="menu__link">Newsletter</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link">Account</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link">cart (0)</a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="top__inner">
            <div class="top__img"><img src="images/top-img.jpg" alt="top"></div>
            <div class="top__content">
              <h1 class="top__title">
                Alcohol for the modern drinker
              </h1>
              <p class="top__text">Light and refreshing flavors made with real, clean ingredients you can feel good
                about. Just pour, sip, and enjoy.</p>
              <button class="top__btn">shop all</button>
            </div>
          </div>
        </div>

      </div>

    </header>